= simple_form_for [@place, @service] do |f|
  .list-group-item
    %label= t('simple_form.labels.service.name')
    .list-group-item-heading
      =f.input_field :name, class: 'form-control'
  .list-group-item
    %label= t('simple_form.labels.service.minimum_amount')
    .list-group-item-heading
      =f.input_field :minimum_amount, class: 'form-control'
  .list-group-item
    %label= t('simple_form.labels.service.maximum_amount')
    .list-group-item-heading
      =f.input_field :maximum_amount, class: 'form-control'
  .list-group-item
    %label= t('simple_form.labels.service.estimated_duration')
    .list-group-item-heading
      =f.input_field :estimated_duration, class: 'form-control'
  .list-group-item
    .list-group-item-heading
      =f.button :submit, 'Enviar', class: 'btn-primary'
