= simple_form_for @place do |f|
  .list-group-item
    %label= t('simple_form.labels.place.name')
    .list-group-item-heading= f.input_field :name, class: 'form-control'
  .list-group-item
    %label= t('simple_form.labels.place.address')
    .list-group-item-heading= f.input_field :address, class: 'form-control'
  .list-group-item
    %label= t('simple_form.labels.place.description')
    .list-group-item-heading= f.input_field :description, class: 'form-control'
  .list-group-item
    %label= t('simple_form.labels.place.mobile_phone')
    .list-group-item-heading= f.input_field :mobile_phone, class: 'form-control'
  .list-group-item
    %label= t('simple_form.labels.place.land_line')
    .list-group-item-heading= f.input_field :land_line, class: 'form-control'
  .list-group-item
    .list-group-item-heading
      =f.button :submit, 'Enviar', class: 'btn-primary'
